@media screen and (max-width: 765px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  li {
    list-style: none;
  }

  body {
    font-family: 'kumbh sans', sans-serif;
    font-size: 15px;
  }

  #section--0 {
    width: 375px;
    overflow: scroll;
    margin-bottom: 88px;
    margin-top: 19px;
  }

  .navbar {
    width: 327px;
    height: 24px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .thumbnail--images {
    display: none;
  }

  /* .container {
    max-width: 375px;
  } */
  .container.line {
    max-width: 375px;
    margin-bottom: 0;
  }

  .content {
    margin-top: 0;
  }

  .container.content {
    display: flex;
    flex-direction: column;
  }

  .leftcontent--image .main-image {
    width: 375px;
    height: 300px;
    border-radius: 0;
    margin-bottom: 24px;
  }

  .rightcontent--desc {
    margin-top: 0;
    max-width: 327px;
    height: 420px;
    margin-left: auto;
    margin-right: auto;
  }

  h2.sneaker--edition {
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 15px;
  }

  h6.sneaker--label {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    margin: bottom 19px;
  }
  p.description {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
  }

  .price--content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .addto--cartbtn {
    display: flex;
    flex-direction: column;
  }

  .addto--cartbtn button {
    width: 327px;
    height: 56px;
  }

  .btn--addtocart {
    margin-left: 0;
    margin-top: 16px;
  }

  .itemCartBtn {
    width: 19px;
    height: 13px;
    left: 267px;
    top: -2px;
  }

  .cart--modal {
    width: 360px;
    height: 256px;
    background: #ffffff;
    box-shadow: 0px 20px 50px -20px rgba(29, 32, 38, 0.5);
    border-radius: 10px;
    position: absolute;
    left: 0.8%;
    top: 65px;
  }
  .filled-cart {
    background: #ffffff;
    box-shadow: 0px 20px 50px -20px rgba(29, 32, 38, 0.5);
    border-radius: 10px;
    position: absolute;
    left: 0.8%;
    top: 65px;
    width: 360px;
    height: auto;
    padding-bottom: 32px;
  }

  img.main-image {
    width: 375px;

    border-radius: 0;
  }

  img.logo {
    width: 137.5px;
    margin-top: 0px;
    height: 20px;
  }

  .nav--rightcontent {
    width: 68px;
    height: 24px;
  }

  .navcart {
    width: 21.82px;
    height: 20px;
    margin-right: 22.18px;
  }
  .nav-avatar {
    width: 24px;
    height: 24px;
    background-size: 24px 24px;
    background-position: center;
  }

  .nav-links {
    display: none;
  }
  .menu {
    display: inline;
    margin-right: 16px;
    cursor: pointer;
  }

  .overlay {
    display: none;
    opacity: 0.75;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background: #000000;
    position: fixed;
    z-index: 0;
  }

  .hamburger--menu {
    display: flex;
    background-color: #ffffff;
    position: absolute;
    width: 250px;
    height: 100vh;
    left: 0px;
    top: 0px;
    z-index: 2;
  }

  .hidden {
    display: none;
  }

  .menu-star {
    position: absolute;
    font-weight: bold;
    font-size: 30px;
    left: 25.28px;
    top: 14px;
    cursor: pointer;
    color: #69707d;
  }
  .menu-nav {
    /* position: absolute; */
    padding-top: 92px;
    padding-bottom: 598px;
    padding-left: 25px;
    width: 95px;
    height: 210px;
    left: 25px;
    top: 92px;
  }

  ul.hambug {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  ul.hambug li a {
    list-style: none;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    color: #1d2026;
    cursor: pointer;
  }

  ul.hambug li {
    margin-bottom: 20px;
  }

  ul.hambug li a:hover {
    opacity: 0.7;
  }
  .menu-star:hover {
    color: #ff7e1b;
  }

  .mobile-wrap {
    display: block;
  }

  .previous-mobile {
    display: block;
    position: absolute;
    cursor: pointer;
    color: #f6f8fd;
    width: 40px;
    height: 40px;
    left: 26px;
    top: 210px;
  }

  .next-mobile {
    display: block;
    position: absolute;
    cursor: pointer;
    color: #f6f8fd;
    width: 40px;
    height: 40px;
    left: 348px;
    top: 210px;
  }

  .next-mobile:hover,
  .previous-mobile:hover {
    color: #ff7e1b;
  }

  .footer-container {
    display: none;
  }
}
