* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: 'kumbh sans', sans-serif;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
}

img.logo {
  max-width: 137.5px;
  height: 20px;
  margin-top: -6px;
  margin-right: 56.5px;
}

.nav-links ul {
  display: flex;
}

.nav-links ul li {
  text-decoration: none;
  list-style: none;
}

#section--0 {
  position: relative;
  height: 100%;
  /* padding-top: 23px; */
  /* padding-bottom: 132px; */
  background: rgba(255, 255, 255, 1);
}
.container {
  max-width: 1110px;
  margin-right: auto;
  margin-left: auto;
}

/* Navbar styling */
.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav--leftcontent {
  display: flex;
  align-items: center;
  /* max-width: 591px; */
  height: 26px;
  /* margin-right: 401px; */
}
.navlink {
  color: #69707d;

  align-self: center;
  font-size: 15px;
  line-height: 26px;
  margin-right: 32px;
}

.nav--rightcontent {
  display: flex;
  align-items: center;
}

.navcart {
  margin-right: 46.18px;
}

.avatar-contain {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.avatar-contain .nav-avatar img {
  width: 100%;
  height: 100%;
}
/* .nav-avatar {
  width: 50px;
  height: 50px;
  background: url('images/avatar.svg');
  border-radius: 50%;
} */

div.line {
  color: #000;
  border: solid 1px #e4e9f2;
  margin-top: 34px;
  background: #e4e9f2;
}

/* content styling */
.content {
  max-width: 1015px;
  height: 565px;
  display: flex;
  margin-top: 90px;
}

/* leftcontent styling */
.leftcontent--image {
  max-height: 565px;
  max-width: 445px;
  margin-right: 125px;
}

.thumbnail--images {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.leftcontent--image .main-image {
  height: 445px;
  width: 445px;
  border-radius: 15px;
  margin-bottom: 32px;
}

.thumbnail--images .images-modal-content {
  width: 88px;
  height: 88px;

  border-radius: 10px;
  /* margin-right: 31px; */
}

.modal-image {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.modal-image.last-image {
  margin-right: 0;
}

/* rightcontent div styling */
.rightcontent--desc {
  max-width: 445px;
  height: 426px;
  margin-top: 62px;
}

h1.sneaker--label {
  color: #ff7e1b;
  font-size: 13px;
  line-height: 13px;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 27px;
}

h2.sneaker--edition {
  color: #1d2026;
  font-size: 44px;
  font-weight: bold;
  font-style: normal;
  line-height: 48px;
  margin-bottom: 32px;
}

p.description {
  color: #69707d;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 26px;
  margin-bottom: 24px;
}

.price--content {
  margin-bottom: 32px;
}

p.main-price {
  color: #1d2026;
  font-size: 28px;
  font-weight: bold;
  font-style: normal;
  line-height: 28px;
  margin-right: 16px;
  margin-bottom: 10px;
}

span.discount {
  text-align: center;
  margin-bottom: 1px;
  max-width: 51px;
  height: 27px;
  background: #ffeee2;

  border-radius: 6px;
  color: #ff7e1b;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  line-height: 16px;
  padding-top: 7px;
  padding-bottom: 4px;
  padding-right: 8px;
  padding-left: 8px;
  margin-left: 16px;
}

p.old--price {
  color: #b6bcc8;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;
  text-decoration-line: line-through;
}

/* button styling */
.btn--counter {
  text-align: center;
  background: #f6f8fd;
  border: none;
  border-radius: 10px;
  width: 157px;
  height: 56px;
  cursor: pointer;
}

.no--pairs {
  margin-left: 45.5px;
  margin-right: 45.5px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
}

.btn--addtocart {
  text-align: center;
  color: #f6f8fd;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  background: #ff7e1b;
  width: 272px;
  height: 56px;
  margin-left: 12px;
  cursor: pointer;
}

.btn--addtocart img {
  align-self: center;
  margin-right: 15px;
}

.btn--addtocart span {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  cursor: pointer;
}

/* active basket empty styling */
/* .navbar.cart--modal {
  position: relative;

  width: 360px;
  height: 256px;
  left: -40px;
  top: 94px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 20px 50px -20px rgba(29, 32, 38, 0.5);
} */

.cart--modal {
  width: 360px;
  height: 256px;
  background: #ffffff;
  box-shadow: 0px 20px 50px -20px rgba(29, 32, 38, 0.5);
  border-radius: 10px;
  position: absolute;
  left: 70%;
  top: 70px;
}

h1.cartheading {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;

  color: #1d2026;
  padding-top: 24px;
  padding-left: 24px;
  margin-bottom: 27px;
}

div.cart-divider {
  max-width: 360px;
  margin-bottom: 77px;
  border: solid 1px #e4e9f2;
}

p.empty--cart {
  color: #69707d;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
}

/* hover states */

/* classes to be used in active cart and js */
.hidden {
  display: none;
}

/* .overlay {
  opacity: 0.75;
} */

span.closeModal {
  position: absolute;
  left: 336px;
  top: 15px;
  cursor: pointer;
  font-size: 20px;
}
.itemCartBtn {
  position: absolute;
  z-index: 1;
  left: 90%;
  top: 10px;
  width: 19px;
  height: 13px;
  padding-top: 2px;
  padding-right: 6px;
  padding-left: 6px;
  padding-bottom: 6px;
  background: #ff7e1b;
  border-radius: 6.5px;
  text-align: center;
  color: #ffffff;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 10px;
}

/* Hover states */
.navlink:hover {
  color: #1d2026;
  border-bottom: solid 4px #ff7e1b;
  padding-bottom: 45px;
  transition: ease-out 0.5s;
}
.menu {
  display: none;
}
/* .nav-avatar:hover {
  border: solid #ff7e1b;
  background-position: center;
} */

.avatar-contain:hover {
  border: solid #ff7e1b;
  transition: ease 0.1ms;
}

.images-modal-content:hover {
  opacity: 0.75;
  border: solid 2px #ff7e1b;
}
/* .modal-image:hover {
  opacity: 0.75;
  border: solid 2px #ff7e1b;
} */

.btn--addtocart:hover {
  opacity: 80%;
}

.plus:hover,
.minus:hover {
  opacity: 0.75;
}
.navcart:hover {
  /* filter: invert(1); */
  filter: contrast(4);
}

.active,
.thumbnails img:hover {
  border: 2px solid #ff7e1b;
  opacity: 0.75;
}

/* filled cart styling */
.cart-filled {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.filled-cart {
  background: #ffffff;
  box-shadow: 0px 20px 50px -20px rgba(29, 32, 38, 0.5);
  border-radius: 10px;
  position: absolute;
  left: 70%;
  top: 70px;
  width: 360px;
  height: auto;
  padding-bottom: 32px;
}

.filled-cart .cart-divider {
  margin-bottom: 24px;
}

.desc-cart {
  max-width: 312px;
  height: 52px;
}

/* Checkout button */
.checkout--btn {
  color: #ffffff;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  width: 312px;
  height: 56px;
  background: #ff7e1b;
  border-radius: 10px;
  border: #ff7e1b;
  margin-left: 24px;
  margin-top: 24px;
  cursor: pointer;
}

/* delete cart */
.delete {
  cursor: pointer;
}

/* image my-modal styling */
.my-modal {
  position: fixed;
  display: none;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  padding-top: 23px;
  padding-bottom: 132px;
  overflow: auto;
  background: rgba(0, 0, 0, 0.8);
}

.modal-container {
  position: relative;
  max-width: 1110px;
  margin-right: auto;
  margin-left: auto;
}

.modal--content {
  position: absolute;
  /* background-color: #b6bcc8; */
  top: 105px;
  left: 280px;
  width: 550px;
  height: 722px;
}

.photo-slides {
  width: 550px;
  height: 550px;
  display: none;
  margin-bottom: 40px;
}

.photo-slides.showImage {
  display: block;
}

.photo-slides img {
  width: 550px;
  height: 550px;
  border-radius: 15px;
}

.flex-wrap {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.thumbnails {
  height: 88px;
  width: 88px;
  border-radius: 10px;
  cursor: pointer;
}

a.next {
  position: inherit;
  cursor: pointer;
  color: #f6f8fd;
  font-size: 40px;
  left: 555px;
  top: 240px;
}

a.previous {
  position: inherit;
  cursor: pointer;
  color: #f6f8fd;
  font-size: 40px;
  right: 555px;
  top: 240px;
}

span.close-modal {
  cursor: pointer;
  position: inherit;
  left: 532px;
  top: -54px;
  font-size: 35px;
  font-weight: bold;
  color: #f6f8fd;
}

.close-modal:hover,
.next:hover,
.previous:hover {
  color: #ff7e1b;
}

.hamburger--menu {
  display: none;
}

.previous-mobile,
.next-mobile {
  display: none;
}

.footer {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-bottom: 80px;
  /* position: absolute; */
  /* bottom: -247px;
  left: 755px; */
}
.footer p {
  color: #69707d;
}
.footer a {
  list-style: none;
  text-decoration: none;
  color: #1d2026;
  font-size: 16px;
  font-weight: bold;
}

.footer a:hover {
  color: #ff7e1b;
}

.footer p.foot-sec {
  margin-right: 16px;
}

.overlay {
  display: none;
}
/* @media screen responsive styling */

/* @media screen and (max-width: 375px) {
  body {
    font-family: 'kumbh sans', sans-serif;
    font-size: 15px;
  }

  .container.navbar {
    max-width: 327px;
    height: 24px;
    margin-left: auto;
    margin-right: auto;
  }

  .logo {
    width: 137.5px;
    height: 20px;
  }

  .nav--rightcontent {
    width: 68px;
    height: 24px;
  }

  .navcart img {
    width: 21.82px;
    height: 20px;
  }

  .nav-avatar {
    background: url('images/avatar.svg');
    width: 24px;
    height: 24px;
    border-radius: 50%;
  }
} */
